@import "tailwindcss";

:root {
  --background: #f9f2f6;
  --text: #0f080c;
  --primary: #b25487;
  --secondary: #d598b9;
  --accent: #cc78a6;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text: var(--text);

  --body-font: var(--font-sora), sans-serif;
  --heading-font: var(--font-grotesk), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sora), sans-serif;
  padding: 1rem;
}

h1,
h2 {
  font-family: var(--font-grotesk), sans-serif;
}
